{{> elements/header}}
<div class="container">
    <div class="jumbotron">
        <div class-"row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/171x130" alt="...">
                </a>
            </div>
            
        </div>
        <h2>Welcome, {{contents.username}}</h2>
        <h4>This is your dashboard</h4>         
    </div>
    <div class="row">
        <div class="col-md-12">   
            <a href="/users/{{contents.username}}/postJob"><button class="btn btn-success btn-right btn-lg">Post a job</button></a>
        
            {{!--<h2>Welcome {{contents.username}}</h2>
            <h2>Email on file {{contents.email}}</h2>--}}
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-panel text-center">
            <h3>Current Job postings</h3>
        {{#each contents.Jobs}}
            <h3>{{this.name}}</h3>
            <h3>{{this.description}}</h3>
            <hr>
        {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">    
        <h3>{{contents.name}}</h3>
        <h3>{{contents.address}}</h3>
        <h3>{{contents.contact}}</h3>
        </div>
    </div>
</div>