<div class="well well-lg">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Job Title: {{contents.name}}</h2>
        </div>
        <div class="panel-body">
            <h4>Posted By: <a href="/users/{{contents.Client.username}}/profile">{{contents.Client.username}}</a></h4>
            <h4>Email: {{contents.Client.email}}</h4>
            <h4>Contact Number: {{contents.Client.contact}}</h4>
            <h4>Description: {{contents.description}}</h4>
            {{#unless contents.taken}}
            <h5 class="text-warning">Still Available</h5>
            {{/unless}}
            {{#if contents.taken}}
            <h5 class="text-danger">Not Longer Available</h5>
            {{/if}}
        </div>
    </div>
</div>